@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

.container {
  display: flex;
  padding: 0 20px;
  gap: 20px;
  align-items: flex-start;
  font-family: "Inter", sans-serif;
  margin-top: 105px;
}
