.header {
  position: fixed; /* Giữ header cố định */
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  background: #333;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  height: 20px;

  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;

    li a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
